@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 92px;
  }

  #logo-text {
    color: #28352f;
    width: 90px;
    height: 28px;
    margin: 0 0 0 12px;
    padding: 0;
    bottom: 0;
    left: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
  }

  #menu {
    margin: 0 12px 10px 0;
    width: 18px;
    height: 12px;
  }

  #menu div {
    border: 2px solid #28352f;
    height: 0;
    margin: 2px 0;
    border-radius: 25%;
  }

  .page {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
    height: 726px;
  }

  #text-container {
    width: 327px;
    height: fit-content;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
  }

  .page #green {
    color: #36b37e;
  }

  #text-container2 {
    width: 327px;
    height: 164px;
    text-align: center;
  }

  #text3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 170px;
    top: 536px;
  }

  .mid-section {
    display: grid;
    grid-template-columns: 327px;
    grid-template-rows: 120px 474px 333px 1106px 900px;
    grid-gap: 15px;
    justify-content: center;
  } 

  .intro {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .intro h2 {
    margin: 0px;
  }

  #indicator {
    height: 4px;
    width: 48px;
    top: 121px;
    border-radius: 24px;
    background-color: #36b37e;
  }

  .work-section {
    display: grid;
    grid-template-columns: 327px;
    grid-template-rows: 474px 474px 474px;
    grid-gap: 24px;
    align-items: center;
  }

  .entries {
    display: flex;
    flex-direction: column;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .entries img {
    border-radius: 8px 8px 0px 0px;
  }
  .description {
    align-items: center;
  }

  .description h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0px;
    margin:10px;
  }

  .description ul {
    margin: 0px, 11px;
    display: flex;
    flex-grow: 1;
    justify-items: space-between;
  }
  .list li {
    background: #ebf0ee;
    border-radius: 4px;
    margin: 0px 5px 0px 5px;
    padding: 2px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .list-buttons {
    color: white;
    height: 24px;
    width: 98px;
    left: 12px;
    top: 12px;
    margin-left: 103px;
    margin-bottom: 10px;
    border-radius: 4px;
    background: #36b37f;
  }
  
}
